/* General Body styles */
body{
    font-size: 18px;
    font-weight:400;
    text-align: center;
    background-color:hsl(193, 100%, 96%)
}
/* Header Styles */
header{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}
/* Header Button Styles */
header button{
    margin-right: 20px;
    color:black;
    background-color: white;
    border:1px solid white;
    border-radius: 10px;
    width:30%;
    height:25px;
    font-weight: 600;
}
#build-com{
    padding:10px 20px;
}
#build-com p{
    padding: 10px 15px
}
.button{
    background-color: hsl(322, 100%, 66%);
    border:1px solid hsl(322, 100%, 66%);
    color:white;
    width:75%;
    height:40px;
    border-radius:20px;
    font-weight:600
}